version: "{build}"
platform: x64

branches:
  only:
    - master

clone_depth: 10
skip_tags: true

test: off
deploy: off

environment:
  matrix:
  - ATOM_CHANNEL: stable
  - ATOM_CHANNEL: beta

install:
  - ps: Install-Product node 6

build_script:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/atom/ci/master/build-package.ps1'))
